@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.content {
    padding: 1rem;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.kalendar{
  box-sizing: border-box;
  margin: 0;
  border-radius: 2px;
  padding: 20px 20px 80px 20px;
  background-color: #fff;
  min-height: 60vh;
  font-family: 'Roboto', sans-serif;
}

.kalendar>h1{
  font-weight: 300;
  font-size: 36px;
  text-align: left;
}
.profil{
  box-sizing: border-box;
  margin: 0;
  border-radius: 2px;
  padding: 20px 20px 80px 20px;
  background-color: #fff;
  min-height: 60vh;
  font-family: 'Roboto', sans-serif;
}
.profil>h1{
  font-weight: 300;
  font-size: 36px;
  text-align: left;
}