@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.layout {
    min-height: 100vh;
    width: 100%;
}
.content {
    padding: 0 50px 0 0;
    margin-top: 80px;
    margin-left: 200px;
    width: 100%;
    transition: all 0.2s ease;
    margin-bottom: 50px;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}

.today,
.profil,
.todo-dash,
.kalendar {
    box-sizing: border-box;
    margin: 0;
    border-radius: 2px;
    padding: 20px 20px 80px 20px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

.profil > h1,
.today > h1,
.kalendar > h1,
.todo-dash > h1 {
    font-weight: 300;
    font-size: 36px;
    text-align: left;
}
.profil h2 {
    font-weight: 300;
    font-size: 30px;
    text-align: left;
    margin: 50px 0 30px;
}

.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
    width: 100%;
    margin-left: 250px;
}
