.navbar {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.navbar img {
	height: 32px;
	margin: 0 0 0 15px;
	padding: 0;
}
.navbar Button {
	margin-right: 10px;
}
