.bannerleft {
    width: 50%;
}
.bannerleft img {
    display: block;
    max-width: 639px;
    width: auto;
    margin: 0 auto;
}
.bannerright {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    user-select: none;
    height: 60vh;
    transition: all 0.5s ease;
}

.bannerright p {
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    font-weight: 300;
    margin: 0;
    line-height: 110%;
}

#blue {
    color: #1890ff;
    margin-bottom: 50px;
}

.bannerright button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.BlueContent {
    background-color: #1890ff;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.BlueContent > p {
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    color: #fff;
    width: fit-content;
}

.BlueContent > button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .bannerright {
        width: 100%;
        margin-bottom: 50px;
    }
    .bannerleft {
        width: 100%;
    }
    .bannerleft img {
        width: 100%;
    }
    .banner {
        flex-direction: column;
        justify-content: center;
        margin-top: -150px;
        height: 100%;
    }
}
