form{
    height: 10em;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
form img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}