.ant-modal{
    text-decoration: none;
    max-width: max-content;
    }
.ant-modal-content{
    max-width: 1240px;
    background-color: #1890FF;
    height: 500px;
    border-radius: 20px;
}

.ant-modal-header{
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.ant-modal-body{
    background-color: #fff;
}
.ant-modal-body img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}